---
- name: Servers | Install useful server packages.
  apt: >
    pkg={{ item }}
    state=installed
    update-cache=yes
  with_items:
    - ufw
    - htop
    - vim
  tags:
    - firewall

- name: Servers | Allow ssh port on 22
  ufw: >
    rule=allow
    port=22
    proto=any
  tags:
    - firewall

- name: Servers | Default allow outgoing traffic
  ufw: >
    direction=outgoing
    policy=allow
    state=enabled
  tags:
    - firewall

- name: Servers | Default deny incoming traffic
  ufw: >
    direction=incoming
    policy=deny
    state=enabled
  tags:
    - firewall
