import os.path

DEBUG = {{ django.debug }}
TEMPLATE_DEBUG = DEBUG

ALLOWED_HOSTS = [{% for name in nginx.servernames %}'{{name}}',{%endfor%}]

SECRET_KEY = '{{ django.secretkey }}'

CACHES = {
    'default': {
        'BACKEND': '{{ cache.backend | default('redis_cache.cache.RedisCache') }}',
{% if 'cacheservers' not in group_names %}
        'LOCATION': '{{ groups.get('cacheservers')[0] }}:{{ cache.get('redis_port', 6379) }}',
{% else %}
        'LOCATION': '127.0.0.1:{{ cache.get('redis_port', 6379) }}',
{% endif %}
        'OPTIONS': {
            'DB': {{ cache.get('redis_id', 1) }},
            'PARSER_CLASS': 'redis.connection.HiredisParser',
        }
    }
}

{% if django.redissessions %}
SESSION_ENGINE = 'redis_sessions.session'
SESSION_REDIS_HOST = CACHES['default']['LOCATION'].split(':')[0]
SESSION_REDIS_PORT = int(CACHES['default']['LOCATION'].split(':')[1])
SESSION_REDIS_DB = CACHES['default']['OPTIONS']['DB']
SESSION_REDIS_PASSWORD = ''
SESSION_REDIS_PREFIX = 'session'
{% endif %}

{% if message_queue is defined %}
{% if 'queueservers' not in group_names %}
BROKER_URL = "redis://{{ groups.get('queueservers')[0] }}:{{ message_queue.get('redis_port', 6379) }}/{{ message_queue.get('redis_id', 2) }}"
{% else %}
BROKER_URL = "redis://localhost:{{ message_queue.get('redis_port', 6379) }}/{{ message_queue.get('redis_id', 2)}}"
{% endif %}
{% endif %}


DATABASES = {
    'default': {
        'ENGINE': "{{ database.engine }}",
        'NAME': "{{ database.name }}",
        'USER': "{{ database.user }}",
        'PASSWORD': "{{ database.password }}",
        {% if not 'dbservers' in group_names %}
        'HOST': "{{ groups.get('dbservers')[0] }}",
        'PORT': "{{ database.port }}",
        {% else %}
        'HOST': "localhost",
        'PORT': "",
        {% endif %}
    }
}

SOUTH_DATABASE_ADAPTERS = {
    'default': 'south.db.postgresql_psycopg2'
}

{% for line in django.settingslines %}{{ line }}
{% endfor %}
